[submodule "external/ncurses-snapshots"]
	path = external/ncurses-snapshots
	url = git@notabug.org:skvl/ncurses-snapshots.git
[submodule "external/signals-light"]
	path = external/signals-light
	url = git@notabug.org:skvl/signals-light.git
